<div *ngIf="!daftarPeserta">
    ...loading...
</div>

<div *ngIf="daftarPeserta">
Jumlah data {{daftarPeserta.totalElements}}
<table>
    <thead>
        <tr>
            <th>Kode</th>
            <th>Nama</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="#p of daftarPeserta.content">
            <td>{{p.kode}}</td>
            <td>{{p.nama}}</td>
            <td>
                <button (click)="editPeserta(p)">edit</button>
                <button (click)="deletePeserta(p)">delete</button>
            </td>
        </tr>
    </tbody>
</table>
</div>